@import './utils/fonts.scss';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';

@import './components/buttons';
@import './layouts/header';
@import './layouts/hero-section';
@import './components/input';
@import './components/links';

@import './utils/mixins';

@import './components/carousel-button';

@import './components/chef-card';

@import './components/format-card';

@import './layouts/advantages-section';

@import './layouts/chefs-section';

@import './layouts/contact-section';

@import './layouts/container';

@import './layouts/footer';

@import './layouts/formats-section';

@import './layouts/form-terms';

@import './layouts/modal';

@import './layouts/mobile-menu';

@import './layouts/section';

@import './layouts/traditions-section';

/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-lable::before {
  background-color: green;
}

.checkbox-lable {
  padding-left: 24px;
}

.checkbox-lable::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
  content: '';
} */
