.contact-section {
  padding: 20px 0 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0 96px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
      text-align: start;
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-bottom: 24px;
    font-size: 14px;
    text-align: center;
    color: var(--color-brand-dark);

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 42px;
      text-align: start;
      font-size: 18px;
    }
  }

  &__form-field {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    flex-shrink: 0;
    height: 176px;
    margin: 0 -24px;
    border-radius: 0px;
    border: none;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 500px;
      border-radius: 16px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }
}
